/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Aurora */

* {
	box-sizing: border-box;
}
html { 
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
body{
/* 	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,0,0.55) 56%, rgba(255,0,0,0.2) 100%); */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,65,0.55) 56%, rgba(255,255,0,0.4) 75%, rgba(255,0,0,0.2) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,65,1) 56%, rgba(255,255,0,1) 75%, rgba(255,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95a4c7), color-stop(9%,#a5b2d1), color-stop(11%,#a5b2d1), color-stop(21%,#b7bfd7), color-stop(23%,#b9bfd7), color-stop(27%,#c1c5d9), color-stop(32%,#c5c7dc), color-stop(41%,#d6d4e1), color-stop(44%,#d9d6df), color-stop(47%,#d9d2d9), color-stop(49%,#dcd2d7), color-stop(55%,#ecded9), color-stop(59%,#f2dfd5), color-stop(69%,#fedebd), color-stop(74%,#fcdab3), color-stop(80%,#fed199), color-stop(88%,#fdb66d), color-stop(91%,#fdb465), color-stop(93%,#fbae5b), color-stop(96%,#fc9f51), color-stop(99%,#fc844c), color-stop(100%,#fb7f4a));
/* 	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,175,27,0.74) 35%, rgba(216,2,23,0.25) 100%); */
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	font-size: 22px;
}

#page {	
	overflow: auto;
}

#page h1 {
/* 	display: none; */
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	text-align: center;
	font-family: "HelveticaNeue-UltraLight"; 
	font-weight: 300;
	color: #ffe6ca;
}

button {
	padding: 14px;
	border: none;
	margin: 0;
/* 	border: 2px solid red; */
	text-align: center;
/* 	border-radius: 1px; */
	width: 100%;
	font-size: 1em;
}

div.row {
	padding: 3px;
	border-bottom: 1px solid rgba(255,255,255,0.25);
	overflow: auto;
}

label {
	line-height: 1.4em;
	display: inline-block;
	width: 70%;
}

input[type="time"] {
/* 	text-align:right; */
	-webkit-appearance: none;
	border: none;
/* 	border: 1px solid red; */
	background-color: inherit;
	float: right;
	font-size: 1em;
	font-family: inherit;
	width: 30%;
	padding: 0;
	margin: 0;
}

#toggle_lights_button_container {	
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 2px solid rgba(0,0,0,0.1);
}

#toggle_lights_button {
	background-color: #ffe6ca;
	color: rgb(125,0,0);
}
