/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Aurora */

* {
	box-sizing: border-box;
}
html { 
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
body{
/* 	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,0,0.55) 56%, rgba(255,0,0,0.2) 100%); */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,65,0.55) 56%, rgba(255,255,0,0.4) 75%, rgba(255,0,0,0.2) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,65,1) 56%, rgba(255,255,0,1) 75%, rgba(255,0,0,1) 100%);
/* 	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,175,27,0.74) 35%, rgba(216,2,23,0.25) 100%); */
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	font-size: 22px;
}


#page {	
	overflow: auto;
}

#page h1 {
/* 	display: none; */
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	text-align: center;
	font-family: "HelveticaNeue-UltraLight"; 
	font-weight: 300;
}

button {
	padding: 7px;
	border: none;
	margin: 0;
/* 	border: 1px solid black; */
	text-align: center;
/* 	border-radius: 1px; */
	width: 100%;
	font-size: 1em;
}

div.row {
	padding: 3px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	overflow: auto;
}

label {
	line-height: 1em;
	display: inline-block;
	width: 70%;
}

input[type="time"] {
/* 	text-align:right; */
	-webkit-appearance: none;
	border: none;
/* 	border: 1px solid red; */
	background-color: inherit;
	float: right;
	font-size: 1em;
	font-family: inherit;
	width: 30%;
	padding: 0;
	margin: 0;
}


#save_button {
	background-color: red;
}

#save_button span {
}

#save_button:active {
	background-color: blue;
}

#save_button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

#toggle_lights_button {
	background-color: rgba(255,0,0,0.5);
}