<!DOCTYPE html>
<html>
	<head>
		<title>Aurora</title>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" title="Style" type="text/css" media="screen" charset="utf-8">		
<!-- 		<meta name="viewport" content="width=device-width, initial-scale=1"> -->
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<link rel="apple-touch-icon" href="{{url_for('static', filename='images/apple-touch-icon.png')}}">
	</head>
	<body>
		<div id="page">
			<div class="row">
				<h1>Aurora</h1>
			</div>
	<!-- 		<form name="input" action="/" method="post"> -->
			<form id="alarm_form" action="/update" method="post">
				<div class="row">
					<label for="monday_time">Monday</label>
					<input type="time" id="monday_time" name="monday_time" value="" size="5" default="07:00">
				</div>
				<div class="row">
					<label for="tuesday_time">Tuesday</label>
					<input type="time" id="tuesday_time" name="tuesday_time" value="" size="5">
				</div>
				<div class="row">
					<label for="wednesday_time">Wednesday</label>
					<input type="time" id="wednesday_time" name="wednesday_time" value="" size="5">
				</div>
				<div class="row">
					<label for="thursday_time">Thursday</label>
					<input type="time" id="thursday_time" name="thursday_time" value="" size="5">
				</div>
				<div class="row">
					<label for="friday_time">Friday</label>
					<input type="time" id="friday_time" name="friday_time" value="" size="5">
				</div>
				<div class="row">
					<label for="saturday_time">Saturday</label>
					<input type="time" id="saturday_time" name="saturday_time" value="" size="5">
				</div>
				<div class="row">
					<label for="sunday_time">Sunday</label>
					<input type="time" id="sunday_time" name="sunday_time" value="" size="5">
				</div>
			</form>
		</div>

		<div>
			<button type="button" id="save_button">
				<span>Update alarms</span>
			</button>
		</div>

		<div>
			<button type="button" id="toggle_lights_button">
					<span>Toggle lights</span>
			</button>
		</div>
		
	</body>
	<script src="{{url_for('static', filename='js/jquery-2.1.1.min.js')}}" charset="utf-8"></script>
	<script src="{{url_for('static', filename='js/scripts.js')}}" charset="utf-8"></script>
</html>